/* General reset for body */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #edf0f2;
    overflow-x: hidden; /* Removes horizontal scrollbar */
}

/* Header Styles */
header {
    display: flex;
    background-color: white;
    color: #69443c;
    justify-content: center;
    align-items: center;
    padding: 1%;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    height: 125px;
}

header h1 {
    font-family: Philosopher;
    font-size: 30px;
    margin: 0;
    color: #69443c;
}

#logo a {
    color: #69443c;
    text-decoration: none;
}

#logo a:hover {
    background-color: transparent;
    color: #69443c;
}



/* Video section styling */
#video-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


video {
    width: auto; /* Auto width to maintain aspect ratio */
    height: auto; /* Auto height to maintain aspect ratio */
    max-width: 80%; /* Sets the maximum width to 80% of the viewport */
    max-height: 80vh; /* Sets the maximum height to 80% of the viewport */
    object-fit: contain; /* Ensures the video maintains aspect ratio */
    display: block;
    margin: 0 auto; /* Centers the video */
}


img {
    display: block; /* Removes any spacing around images */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 80%; /* Sets the maximum width to 80% of the viewport width */
    max-height: 80vh; /* Limits the height to 80% of the viewport height */
    object-fit: contain; /* Ensures the image maintains aspect ratio */
}




#Men3 {
    display: block;
    margin: 0 auto;
    max-width: 80%; /* Sets the maximum width to 80% of the viewport */
    max-height: 80vh; /* Limits the height to 80% of the viewport height */
    object-fit: contain; /* Ensures the image maintains aspect ratio */
}


#button-container {
    position: absolute;
    top: 275%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; /* Ensures it's above the video */
    padding-bottom: 10%;
}

/* Button styles */
a {
    background-color: #ffffff;
    border: none;
    color: #69443c;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Philosopher, sans-serif;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.4s;
}

/* Button hover effect */
a:hover {
    background-color: #69443c;
    color: white;
}
