body{
    background-color:  white;
    margin: 0%;
}

header {
    display: flex;
    background-color: white;
    color: #69443c;
    justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers the text vertically */
    padding: 1px;
    position: sticky;
    top: 0;
    width: 100%; /* Full width of the page */
    text-align: center;
    z-index: 1000; /* Ensures the header stays above other elements */
    height: 125px; /* Sets the height of the header */
  
}

header h1 {
    font-family: Philosopher;
    font-size: 30px;
    margin: 0; /* Removes unnecessary margin */
    color: #69443c;
}

/* Style for the logo link */
#logo a {
    color: #69443c; /* Sets color for the link */
    text-decoration: none; /* Removes underline from the link */
    font-size: 30px;
}

#logo a:hover {
    background-color: transparent; /* No background change */
    color: #69443c; /* No color change */
}


#WhyMen{
    background: #edf0f2;
    width: 100%;
    height: 800px;
}

#WhyMen h1{
    font-family: Philosopher;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    color: #69443c;
    margin-bottom: 1%;
    padding-top: 3%;
}


#WhyMen h2{
    font-family: Philosopher;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    color: #69443c;
    margin-left: 0%;
    margin-top: 5px;
}


#WhyMen h3{
    font-family: Philosopher;
    font-size: 20px;
    text-align: left;
    margin-top: 50px;
    color: #69443c;
    margin-left: 18%;
    margin-top: 60px;

}


#WhyMen p{
    font-family: Philosopher;
    font-size: 16px;
    text-align: left;
    color: #69443c;
    margin-left: 18%;
    margin-top: 0%;
    line-height: 150%;
    
}

#WhyMen video{
    display:block; /* Removes any spacing around images */
    max-width: 35%; /* Sets the maximum width to 80% of the viewport width */
    max-height: 35vh; /* Limits the height to 80% of the viewport height */
    object-fit: contain; /* Ensures the image maintains aspect ratio */
    margin-top: -22%;
    margin-left: 50%;
    border-radius: 50px;
    background-color: #69443c;
}



.Secret{
    background: #69443c;
    width: 100%;
    height: 800px;
    margin-left: 0%;
}

.Secret h1{
    font-family: Philosopher;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    color: #dfd2c7;
    margin-bottom: 1%;
    padding-top: 3%;

}

#Comfort{
    background-color:#edf0f2;
    font-family: Philosopher;
    font-size: 16px;
    text-align: center;
    margin-top: 100px;
    color: #69443c;
    margin-left: 17%;
    border-radius: 10%;
    margin-right: 66%;
    padding-left: 1%;
    padding-right: 1%;
    width: 20%;
    height: 45%;
}

#Comfort h2{
    font-family: Philosopher;
    font-size: 20px;
    text-align: center;
    color: #69443c;
    padding-top: 8%;
    
}

#Comfort p{
    font-family: Philosopher;
    font-size: 16px;
    text-align: center;
    color: #69443c;
    margin-top: 0%;
    line-height: 150%;
}


#Tailored{
    background-color:#edf0f2;
    font-family: Philosopher;
    font-size: 16px;
    text-align: center;
    margin-top: -378px;
    color: #69443c;
    margin-left: 40%;
    border-radius: 10%;
    padding-left: 1%;
    padding-right: 1%;
    width: 20%;
    height: 45%;
}

#Tailored h2{
    font-family: Philosopher;
    font-size: 20px;
    text-align: center;
    color: #69443c;
    padding-top: 8%;
    
}

#Tailored p{
    font-family: Philosopher;
    font-size: 16px;
    text-align: center;
    color: #69443c;
    margin-top: 0%;
    line-height: 150%;
}

#Luxury{
    background-color:#edf0f2;
    font-family: Philosopher;
    font-size: 16px;
    text-align: center;
    margin-top: -345px;
    color: #69443c;
    margin-left: 110%;
    border-radius: 10%;
    padding-left: 1%;
    padding-right: 1%;
    width: 110%;
    height: 100.5%;
}

#Luxury h2{
    font-family: Philosopher;
    font-size: 20px;
    text-align: center;
    color: #69443c;
    padding-top: 8%;
    
}

#Luxury p{
    font-family: Philosopher;
    font-size: 16px;
    text-align: center;
    color: #69443c;
    margin-top: 0%;
    line-height: 150%;
}


.TheSub{
    background: #edf0f2;
    width: 500%;
    height: 800px;
    margin-left: -205%;
    margin-top: 80%;
}

.TheSub h1{
    font-family: Philosopher;
    font-size: 50px;
    text-align: center;
    color: #69443c;
    padding-top: 3%;
    margin-bottom: -8%;

}

.TheSub p#UnderHeadline {
    font-family: Philosopher;
    font-size: 20px;
    text-align: center;
    color: #69443c;
    margin-top: 8%;
    margin-bottom: 8%;
}


.TheSub p{
    font-family: Philosopher;
    font-size: 16px;
    text-align: center;
    color: #69443c;
    line-height: 150%;
}



#button-container {
    display: inline-block;
    background-color: #ffffff;
    border: none; /* Ensure no borders */
    box-shadow: none; /* Remove any shadow */
    outline: none; /* Remove outline */
    padding: 20px 0.5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Philosopher, sans-serif;
    border-radius: 50px;
    transition: all 0.4s;
    cursor: pointer;
}


/* Button styles */
a {
    background-color: #ffffff;
    border: none;
    color: #69443c;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Philosopher, sans-serif;
    border-radius: 50px;
    transition: all 0.4s;
}

/* Button hover effect */
a:hover {
    background-color: #69443c;
    color: white;
}
